.quehacemos {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "cabeza cabeza cabeza cabeza cabeza"
						 "wrapper wrapper wrapper wrapper wrapper"
						 "wrapper wrapper wrapper wrapper wrapper"
						 "wrapper wrapper wrapper wrapper wrapper";
}

.quehacemos .cabeza {
	grid-area: cabeza;
	display: block;
	padding: 0;
	box-sizing: border-box;
	color: var(--primary);
	background-color: var(--background);
	width: 600px;
	min-height: 150px;
	border: 3px solid var(--primary);
	padding: 15px;
	margin-left: 30%;
	margin-top: 60px;
	box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
		  20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 
		  30px -30px 0 -3px var(--background), 30px -30px var(--orange), 
		  40px -40px 0 -3px var(--background), 40px -40px var(--red); 
	transition: box-shadow 1s, top 1s, left 1s;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
  }
  
.quehacemos .cabeza:hover {
	top: -40px;
	left: 40px;
	box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
		0 0 0 -3px var(--background), 0 0 0 0  var(--yellow),
		0 0 0 -3px var(--background), 0 0 0 0  var(--orange),
		0 0 0 -3px  var(--background), 0 0 0 0  var(--red);
}
  
:root {
	--primary: #33691e;
	--secondary: #558b2f;
	--background: white;
	--green: #558b2f;
	--yellow: #7cb342;
	--orange: #8bc34a;
	--red: #9ccc65;
} 
  
.quehacemos .cabeza p {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}
  
.quehacemos .cabeza h1 {
	font-size: 40px;
	font-family: "Kaushan Script", cursive;
}
.quehacemos .wrap
{
  grid-area: wrapper;
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.quehacemos .tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#5d4037;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.quehacemos .tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.quehacemos .tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.quehacemos .tile h1
{	
  font-family: "Kaushan Script", cursive;	
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.quehacemos .tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.quehacemos .animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.quehacemos .tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.quehacemos .tile:hover img
{
  opacity: 0.2;
}
.quehacemos .tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.quehacemos .tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

@media screen and (max-width: 956px){
	.quehacemos {
		grid-template-areas:"cabeza cabeza cabeza cabeza cabeza"
                            "wrapper wrapper wrapper wrapper wrapper" 
                            "wrapper wrapper wrapper wrapper wrapper"
                            "wrapper wrapper wrapper wrapper wrapper";
    }
}