@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.main-footer {  
  text-align: center;
  color: #f8f0bb;;
  background: #3e2307;
  padding-top: 3em;
  bottom: 0;
  width: 100%;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 29px;
}

.redessoc {
  float: center;
}

.redessoc a {
  color: #f8f0bb;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  
  .redessoc {
    min-width: 400px;
    float: center;
  }
  
  .pie-footer {
    font-size: 12px;
  }
}