.comohacemos {
	text-align: center;
	margin-top: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas: "cabeza cabeza cabeza cabeza cabeza"
						 "video video video video video"
                         "video video video video video"
                         "video video video video video"
						 
}

.comohacemos .cabeza {
	grid-area: cabeza;
	display: block;
	padding: 0;
	box-sizing: border-box;
	color: var(--primary);
	background-color: var(--background);
	width: 600px;
	min-height: 150px;
	border: 3px solid var(--primary);
	padding: 15px;
	margin-left: 30%;
	margin-top: 60px;
	box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--shadow1),
		  20px -20px 0 -3px var(--background), 20px -20px var(--shadow2), 
		  30px -30px 0 -3px var(--background), 30px -30px var(--shadow3), 
		  40px -40px 0 -3px var(--background), 40px -40px var(--shadow4); 
	transition: box-shadow 1s, top 1s, left 1s;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
  }
  
.comohacemos .cabeza:hover {
	top: -40px;
	left: 40px;
	box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--shadow1),
		0 0 0 -3px var(--background), 0 0 0 0  var(--shadow2),
		0 0 0 -3px var(--background), 0 0 0 0  var(--shadow3),
		0 0 0 -3px  var(--background), 0 0 0 0  var(--shadow4);
}
  
:root {
	--primary: #33691e;
	--secondary: #558b2f;
	--background: white;
	--shadow1: #558b2f;
	--shadow2: #7cb342;
	--shadow3: #8bc34a;
	--shadow4: #9ccc65;
} 
  
.comohacemos .cabeza p {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 0px;
}
  
.comohacemos .cabeza h1 {
	font-size: 40px;
	font-family: "Kaushan Script", cursive;
}

.comohacemos .video {
	margin: 100px;
    grid-area: video;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 956px){
	.comohacemos {
		grid-template-areas:"cabeza cabeza cabeza cabeza cabeza"
                            "video video video video video"
                            "video video video video video"
							"video video video video video";
    }
}