.calendar-section-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 25rem));
  gap: 40rem;
  justify-content: center;
}

@media only screen and (max-width: 780px) {
  .calendar-section-container {
    gap: 2rem;
  }
}
