.carousel-container {
  position: absolute;
  top: 40%;
  right: 5%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.image {
  width: 700px;
  height: 40vh;
  object-fit: cover;
  opacity: 0.8;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 3%;
  z-index: 999;
  font-size: 3rem;
  color: #f8f0bb;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  right: 90%;
  z-index: 999;
  font-size: 3rem;
  color: #f8f0bb;
  cursor: pointer;
  user-select: none;
}

.date {
  position: absolute;
  top: 85%;
  right: 8%;
  color: #f8f0bb;
  text-shadow: 2px 2px #000;
  z-index: 10;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media only screen and (max-width: 1500px) {
  .carousel-container {
    width: 700px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
